/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: rgb(50, 50, 50);
}

/* Header & Navigation Bar */
header {
    height: 200px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 100%;
    padding-left: 30px;
    padding-right: 50px;
    position: fixed;
    transition: 500ms ease-in-out;
    background-color: rgb(21, 21, 21);
}

h1 {
    display: inline-block;
    font-weight: lighter;
    color: salmon;
    background-color: rgb(21, 21, 21);
    letter-spacing: 3px;
    font-size: 32px;
}


nav ul a {
    display: inline;
    padding: 20px;
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: rgb(21, 21, 21);
    font-weight: bolder;
}

nav ul a:hover {
    color: salmon;
    transition: .3s;
}

/* Main Page Layout */

main {
    display: flex;
    flex-direction: row;
    margin: 0;
}


/* Side Bar */
.tabs  {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin-left: 15%;
    font-weight: bolder;
    color: white;
    text-align: right;
}

.tabs h2 {
    padding-top: 200px;
    padding-bottom: 200px;
}

/* Content */
aside {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    color: white;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 15%;
}

/* ABOUT */
.about {
    padding-top: 150px;
    padding-bottom: 150px;
}

/* WORK */
.work {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-around;
}

.work h2 {
    display: flex;
    text-align: center;
}

/* CONTACT */
.contact {
    padding-top: 200px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


/* Footer */
footer {

}



