/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: rgb(50, 50, 50);
}

/* Header & Navigation Bar */
header {
    height: 200px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    width: 100%;
    padding-left: 30px;
    padding-right: 50px;
    position: fixed;
    transition: 500ms ease-in-out;
    background-color: rgba(21, 21, 21);
}

h1 {
    display: inline-block;
    font-weight: lighter;
    color: salmon;
    letter-spacing: 3px;
    font-size: 32px;
    background-color: rgba(21, 21, 21);
}


nav ul a {
    display: inline;
    padding: 20px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: rgba(21, 21, 21);
}

nav ul a:hover {
    color: salmon;
    transition: .3s;
}

/* Main Page Layout */

main {
    display: flex;
    flex-direction: row;
    margin: 0;
}


/* Side Bar */
.tabs  {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    margin-left: 15%;
    font-weight: bolder;
    color: white;
    text-align: right;
}

.tabs h2 {
    padding-top: 200px;
    padding-bottom: 450px;
}

/* Content */
aside {
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    color: white;
    margin-top: 0;
    margin-left: 8%;
    margin-right: 15%;
}

/* ABOUT */
.about {
    padding-top: 150px;
    padding-bottom: 150px;
}

/* WORK */
.work {
    padding-top: 150px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#app1 {
    display: block;
    width: 100%;
    height: 350px;
    background-image: url("https://images.pexels.com/photos/3757144/pexels-photo-3757144.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
}

#app2 {
    display: inline-block;
    width: 50%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/2356045/pexels-photo-2356045.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
}

#app3 {
    display: inline-block;
    width: 50%;
    height: 300px;
    background-image: url("https://images.pexels.com/photos/3225528/pexels-photo-3225528.jpeg?auto=compress&cs=tinysrgb&w=1600");
    background-size: cover;
}

h3 {
    padding: 50px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.405);
    font-weight: lighter;
    font-size: 15pt
}


#app1, #app2, #app3, h3:hover {
    color: salmon;
    font-weight: bold;
    background-color: rgba(165, 165, 165, 0.35);
}


/* CONTACT */
.contact {
    padding: 150px 200px 0px 200px;
}

.contact ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.contact ul li {
    color: white;
    font-size: 13pt;
}

.contact ul a {
    text-decoration: none;
    color: white;
    font-size: 13pt;
}

.contact ul a:hover {
    text-decoration: none;
    color: salmon
}


/* Footer */
footer {
    margin-bottom: 100px;
    color: salmon;
    text-align: center;
}


